 
<h1>it's a new instagram application </h1>

<h2><td><%= link_to 'new', new_pic_path %></td></h2>
<table>
 	<% @pics.each do |pic| %>
    <tr>
      <td><%= pic.title %></td>
      <td><%= pic.description%></td>
      <td><%= link_to 'Show', pic_path(pic) %></td>

     <td><%= link_to 'edit', edit_pic_path(pic)%></td>
      </tr>
        
      <%end%>

      </table>