
<p> 
<h1><%=@pic.title %></h1>
<%= @pic.description %>
<div>
<%= @pic.user.email %>
</div>
</p>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_pic_path %>
<%= link_to "delete", pic_path, method: :delete, data: { confirm: "are u sure !? "} %>
 

